In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv")

In [3]:
df

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3018,-73.963943,40.790868,30B-AM-1007-04,30B,AM,10072018,4,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9639431360458 40.7908677445466)
3019,-73.970402,40.782560,19A-PM-1013-05,19A,PM,10132018,5,Adult,Gray,White,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9704015859639 40.7825600069973)
3020,-73.966587,40.783678,22D-PM-1012-07,22D,PM,10122018,7,Adult,Gray,"Black, Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9665871993517 40.7836775064883)
3021,-73.963994,40.789915,29B-PM-1010-02,29B,PM,10102018,2,NaN,Gray,"Cinnamon, White",...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9639941227864 40.7899152327912)
3022,-73.975479,40.769640,5E-PM-1012-01,05E,PM,10122018,1,Adult,Cinnamon,"Gray, White",...,False,False,False,False,False,True,False,False,NaN,POINT (-73.9754794191553 40.7696404489025)

In [5]:
df["Primary Fur Color"][df["Primary Fur Color"]=="Cinnamon"].count()

392

In [7]:
df["Primary Fur Color"][df["Primary Fur Color"]=="Gray"].count()

2473

In [10]:
df["Primary Fur Color"][df["Primary Fur Color"]=="Black"].count()

103

In [9]:
df["Primary Fur Color"].unique()

array([nan, 'Gray', 'Cinnamon', 'Black'], dtype=object)

In [11]:
df.describe()

                 X            Y          Date  Hectare Squirrel Number
count  3023.000000  3023.000000  3.023000e+03              3023.000000
mean    -73.967184    40.780853  1.011949e+07                 4.123718
std       0.007726     0.010285  4.246671e+04                 3.096492
min     -73.981159    40.764911  1.006202e+07                 1.000000
25%     -73.973102    40.771676  1.008202e+07                 2.000000
50%     -73.968594    40.778166  1.012202e+07                 3.000000
75%     -73.960189    40.791219  1.014202e+07                 6.000000
max     -73.949722    40.800119  1.020202e+07                23.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3023 entries, 0 to 3022
Data columns (total 31 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X                                           3023 non-null   float64
 1   Y                                           3023 non-null   float64
 2   Unique Squirrel ID                          3023 non-null   object
 3   Hectare                                     3023 non-null   object
 4   Shift                                       3023 non-null   object
 5   Date                                        3023 non-null   int64
 6   Hectare Squirrel Number                     3023 non-null   int64
 7   Age                                         2902 non-null   object
 8   Primary Fur Color                           2968 non-null   object
 9   Highlight Fur Color                         1937 non-null   object
 10  Combination of Primary and Highlight Color  3023 non-null   object
 11  Color notes                                 182 non-null    object
 12  Location                                    2959 non-null   object
 13  Above Ground Sighter Measurement            2909 non-null   object
 14  Specific Location                           476 non-null    object
 15  Running                                     3023 non-null   bool
 16  Chasing                                     3023 non-null   bool
 17  Climbing                                    3023 non-null   bool
 18  Eating                                      3023 non-null   bool
 19  Foraging                                    3023 non-null   bool
 20  Other Activities                            437 non-null    object
 21  Kuks                                        3023 non-null   bool
 22  Quaas                                       3023 non-null   bool
 23  Moans                                       3023 non-null   bool
 24  Tail flags                                  3023 non-null   bool
 25  Tail twitches                               3023 non-null   bool
 26  Approaches                                  3023 non-null   bool
 27  Indifferent                                 3023 non-null   bool
 28  Runs from                                   3023 non-null   bool
 29  Other Interactions                          240 non-null    object
 30  Lat/Long                                    3023 non-null   object
dtypes: bool(13), float64(2), int64(2), object(14)
memory usage: 463.6+ KB